<!--<div class="home-container">
    <nav>Navbar</nav>
    <main>Main</main>
    <div id="sidebar">Sidebar</div>
    <div id="content1">Content 1</div>
    <div id="content2">Content 2</div>
    <div id="content3">Content 3</div>
    <footer>Footer</footer>
</div>-->
<header class="header" id="header">
    <nav class="nav app-container">
        <a href="#" class="nav-logo">
            <img src="assets/images/dress.png" alt="logo" class="nav-logo-img">
            Patronaje
        </a>
        <div class="nav-menu" id="nav-menu" [ngClass]="isOpen ? 'show-menu': 'hide-menu'">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a href="#home" class="nav-link" (click)="HideMenu()">Inicio</a>
                </li>
                <li class="nav-list-item">
                    <a href="#section1" class="nav-link" (click)="HideMenu()">Beneficios</a>
                </li>
                <li class="nav-list-item">
                    <a href="#section2" class="nav-link" (click)="HideMenu()">Servicios</a>
                </li>
                <li class="nav-list-item">
                    <a href="#section3" class="nav-link" (click)="HideMenu()">Contacto</a>
                </li>
            </ul>

            <div class="nav-close" id="nav-close" (click)="HideMenu()">
                <i class="fas fa-times"></i>
            </div>

            <!--<img src="assets/images/dress.png" alt="" class="nav-img">-->
        </div>
        <div class="nav-toogle" id="nav-toogle">
            <i class="fas fa-th-large" (click)="ShowMenu()"></i>
        </div>
    </nav>
</header>
