/*.home-container {
    display: grid;
    height: 300vh;
    grid-template-columns: 0.4fr repeat(3, 1fr);
    grid-template-rows: .2fr 2.5fr 1.8fr 1.8fr 1.8fr .5fr;
    grid-gap: 0.5rem;
    grid-template-areas: 
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar content1 content1 content1"
        "sidebar content2 content2 content2"
        "sidebar content3 content3 content3"
        "sidebar footer footer footer";
}

nav {
    background: rgb(161, 157, 157);
    grid-area: nav;
}

main {
    background: rgb(247, 134, 134);
    grid-area: main;
}

#sidebar {
    background: rgb(4, 255, 255);
    grid-area: sidebar;
}

#content1 {
    background: rgb(252, 245, 150);
    grid-area: content1;
}

#content2 {
    background: rgb(178, 119, 245);
    grid-area: content2;
}

#content3 {
    background: rgb(179, 243, 142);
    grid-area: content3;
}

footer {
    background: rgb(161, 157, 157);
    grid-area: footer;
}

@media only screen and (max-width: 640px) {
    .home-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
            "nav"
            "sidebar"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";
    }
}*/

/*===============HEADER===============*/
.header {
    @apply w-full bg-white fixed top-0 left-0 z-50;
}

.nav {
    @apply h-14 flex justify-between items-center;
}

.nav-logo,
.nav-close,
.nav-toogle { 
    @apply text-skin-brown;
}

.nav-logo {
    @apply flex items-center gap-x-1 font-medium;
}

.nav-logo-img {
    @apply w-6
}

.nav-toogle {
    @apply inline-flex cursor-pointer;
    font-size: 1.25rem;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        @apply fixed bg-white left-0 w-full;
        top: -100%;
        padding: 4rem 0;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 3px 7px hsla(0, 4%, 15%, .1);
        transition: .4s;
    }
}

.nav-img {
    @apply absolute top-0 left-0;
    width: 100px;
    transform: rotate(-15deg);
}

.nav-list {
    @apply flex flex-col items-center gap-y-6;
}

.nav-link {
    @apply font-lato text-skin-brown font-semibold;
    transition: .3s;
}

.nav-link:hover {
    @apply text-skin-orange;
}

.nav-close {
    font-size: 1.5rem;
    @apply absolute top-2 right-6 cursor-pointer;
}

.show-menu {
    top: 0;
}

.hide-menu {
    top: -100%;
}