<section class="home" id="home">
    <div class=" app-container home-container">
        <img src="assets/images/tailors-2.svg" alt="img-main" />
    </div>
</section>
<section class="section bg-blue-200" id="section2">
    <div class="app-container">
        <img src="assets/images/tailors-2.svg" alt="img-main" />
    </div>
</section>
<section class="section bg-blue-900" id="section3">
    <div class=" app-container">
        <img src="assets/images/tailors-2.svg" alt="img-main" />
    </div>
</section>
<section class="section bg-red-400" id="section4">
    <div class="app-container">
        <img src="assets/images/tailors-2.svg" alt="img-main" />
    </div>
</section>