<div class="basic-container">
    <app-tittle-page [tittle]="'Generar patrones escalados'"></app-tittle-page>
</div>

<div class="basic-container" >
  <div class="details-card">
    <div class="flex justify-between mt-4 mb-3">
      <p class="subtitle-client"></p>

      <div class="flex gap-x-4">
        <app-button-primary-outlined [text]="'Atrás'" [icon]="'fas fa-arrow-left'" (onClick)="navigateToBack()">
        </app-button-primary-outlined>
        <app-button-primary-filled [text]="'Exportar'" [icon]="'fas fa-file-export'" (onClick)="savePattern()">
        </app-button-primary-filled>
      </div>
    </div>

    <div class="details-section-card">
        <div class="details-garment" >
          <section class="banner">
            <owl-carousel-o [options]="customOptions" (changed)="changedSlide($event)">
              <ng-template carouselSlide>
                  <img class="fixed-image" src="assets/images/patron_vestido_01_01.png">
              </ng-template>
              <ng-template carouselSlide>
                <img class="fixed-image" src="assets/images/patron_vestido_01_02.png">
              </ng-template>
            </owl-carousel-o>
          </section>
        </div>

        <div class="details-garment">

            <div class="container-table">
                <div class="table-rounded">
                    <div class="responsive-table" #table>
                        <table class="body-params-table">
                            <thead>
                                <tr>
                                    <th scope="col">Medida</th>
                                    <th scope="col">Valor</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let medida of delantero" >
                                <tr *ngIf="currentIndexSlide==0"> 
                                    <td>{{medida.segmento}}</td>
                                    <td>{{medida.value}} </td>
                                </tr>

                            </tbody>
                            <tbody *ngFor="let medida of espalda" >
                                <tr *ngIf="currentIndexSlide==1"> 
                                    <td>{{medida.segmento}}</td>
                                    <td>{{medida.value}} </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
