<nav class="nav nav-container">
    <div class="nav-menu" id="nav-menu" [ngClass]="isOpen ? 'show-menu': 'hide-menu'">
        <div class="nav-options">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-link" (click)="scrollTo('home')">Inicio</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" (click)="scrollTo('section2')">Beneficios</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" (click)="scrollTo('section3')">Servicios</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" (click)="scrollTo('section4')">Contacto</a>
                </li>
            </ul>
            
            <div class="nav-divider"></div>

            <div class="nav-actions" id="nav-actions">
                <app-button-action-outline [text]="'Iniciar Sesión'" (onClick)="hideAndMove('sign-up')"></app-button-action-outline>
                <app-button-action [text]="'Regístrate'" (onClick)="hideAndMove('sign-up')"></app-button-action>
            </div>
        </div>

        <div class="nav-close" id="nav-close" (click)="hideMenu()">
            <i class="fas fa-times"></i>
        </div>
    </div>

    <div class="nav-logo">
        <a href="#" class="nav-logo-img">
            <img src="assets/images/dress.png" alt="logo">
            <p class="font-montserrat font-light">Patronaje</p>
        </a>
    </div>

    <div class="nav-toogle" id="nav-toogle">
        <i class="fas fa-bars" (click)="showMenu()"></i>
    </div>
</nav>