.signin-container {
    min-height: 90vh;
    @apply grid place-content-stretch mt-16 ;
  }

  .form-container {
    @apply flex p-6 gap-y-10 flex-col justify-center items-center;
  }

  .form-container-title {
    @apply mt-4;
  }
  
  .form-container-inputs {
    @apply w-full p-4 rounded-lg shadow-lg
      sm:w-96;
  }
  
  .form {
    @apply flex flex-col gap-y-6;
  }

  .form-title {
    @apply text-center font-montserrat text-lg font-semibold 
      md:text-2xl;
  }
  
  .form-subtitle {
    @apply mt-2 text-center font-montserrat text-xs 
      md:text-sm;
  }

  .form-subtitle-link {
    @apply font-montserrat font-medium text-skin-orange
  }

  .form-subtitle-link:hover {
    @apply cursor-pointer text-skin-medium-orange;
  }

  .form-label {
    @apply block font-montserrat text-sm font-medium text-skin-brown;
  }
  
  .form-input {
    border: solid 1.5px;
    @apply w-full mt-1 p-2 font-lato text-base text-skin-dark-gray border-gray-300 rounded-lg shadow-sm;
  }
  
  .form-input:focus {
    outline: none;
    border: solid 1.5px;
    @apply border-skin-orange;
  }

  .form-label-link {
    @apply block font-montserrat text-xs font-medium text-skin-orange;
  }

  .form-label-link:hover {
    @apply cursor-pointer text-skin-medium-orange;
  }

  @media screen and (max-width: 768px) {
    .signup-container {
      height: fit-content;
    }
  }
  
  .is-invalid {
    @apply border-red-500;
  }
  
  .invalid-feedback {
    @apply text-red-500 text-xs;
  }