<div class="footer-container app-container">
    <div>
        <a href="#" class="footer-logo">
            <img src="assets/images/dress.png" alt="logo" class="footer-logo-img">
            <p class="font-montserrat font-light">Patronaje</p>
        </a>
        <p class="footer-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br/>
            Aperiam eius autem amet 
        </p>
    </div>

    <div>
        <h3 class="footer-title">Servicios</h3>
        <ul class="footer-links">
            <li>
                <a href="#" class="footer-link">Patronaje</a>
            </li>
            <li>
                <a href="#" class="footer-link">Toma de Medidas</a>
            </li>
            <li>
                <a href="#" class="footer-link">Suscripciones</a>
            </li>
        </ul>
    </div>

    <div>
        <h3 class="footer-title">Soporte</h3>
        <ul class="footer-links">
            <li>
                <a href="#" class="footer-link">FAQs</a>
            </li>
            <li>
                <a href="#" class="footer-link">Contacto</a>
            </li>
        </ul>
    </div>
</div>
<span class="footer-copy">&#169; 2021. Patronaje A Medida. All rigths reserverd.</span>