<div class="px-3 py-5">
  <h1 class="page-title">Pedidos</h1>
  <div class="flex justify-between my-10">
    <div class="flex-1 input-border px-3 md:py-2">
      <div class="flex items-center">
        <input class="w-full input"
               type="text"
               placeholder="Ingrese un código de prenda"
               [(ngModel)]="search"
               (ngModelChange)="onSearchChange()"/>
        <i class="fas fa-search hidden md:block"></i>
      </div>
    </div>
    <select
      class="ml-5 select px-4 md:px-10 lg:px-20 md:py-2"
      [(ngModel)]="state"
      (ngModelChange)="onStateChange()">
      <option value="Atendido" class="bg-white text-left text-black">Atendidos</option>
      <option value="Sin antender" class="bg-white text-left text-black">Sin antender</option>
      <option value="En progreso" class="bg-white text-left text-black">En progreso</option>
    </select>
  </div>
</div>
<div class="overflow-x-auto">
  <table class="bg-white w-full">
    <thead>
    <tr class="table-border">
      <th class="table-header-cell text-left">Cód. Prenda</th>
      <th class="table-header-cell text-left">Cliente</th>
      <th class="table-header-cell text-left">Cód. Orden</th>
      <th class="table-header-cell text-left">Precio Estimado</th>
      <th class="table-header-cell text-center">Fecha Realizada</th>
      <th class="table-header-cell text-center">Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders" class="table-border h-32">
      <td class="table-body-cell text-left">{{ order.garmentCode }}</td> <!-- p-3 text-xs md:text-sm lg:text-base -->
      <td class="p-3 text-left">
        <ul>
          <li class="text-sm md:text-lg lg:text-xl mb-1">{{ order.client.name }}</li>
          <li class="text-xs md:text-sm mb-1">{{ order.client.email }}</li>
          <li class="text-xs md:text-sm">{{ order.client.phone }}</li>
        </ul>
      </td>
      <td class="table-body-cell text-left">{{ order.code }}</td>
      <td class="table-body-cell text-right">{{ order.price }}</td>
      <td class="table-body-cell text-center">{{ order.date | date: 'dd/MM/yyyy' }}</td>
      <td class="p-3 p-2 text-center">
        <app-state-chip [state]="order.state"></app-state-chip>
      </td>
    </tr>
    <tr *ngFor="let i of [].constructor(itemsPerPage - orders.length)" class="h-32"></tr>
    </tbody>
  </table>
</div>
<div class="px-3 py-5 mt-5">
  <div class="flex justify-between items-center">
    <span class="text-xs md:text-base text-gray-500">
      Mostrando {{ firstItem }}-{{ lastItem }} de {{ totalItems }} resultados
    </span>
    <div>
      <app-pagination-button direction="left"
                             (arrowClick)="getPrevPage()"
                             [disabled]="!hasPrev()"></app-pagination-button>
      <app-pagination-button direction="right"
                             (arrowClick)="getNextPage()"
                             [disabled]="!hasNext()"></app-pagination-button>
    </div>
  </div>
</div>

