<div class="signup-container">
    <div class="form-container">
        <div class="form-container-title">
            <h2 class="form-title">Crea tu cuenta y registra tu Atelier</h2>
            <p class="form-subtitle">
                Estás registrado? 
                <a class="form-subtitle-link">Inicia sesión</a>
            </p>
        </div>
        <div class="form-container-inputs">
            <form *ngIf="!showFormAtelier" class="form" [formGroup]="userOwnerForm">
                <div>
                    <label class="form-label" for="names">Nombres</label>
                    <input class="form-input" id="names" type="text" formControlName="names"/>
                </div>

                <div>
                    <label class="form-label" for="last-names">Apellidos</label>
                    <input class="form-input" id="last-names" type="text" formControlName="lastNames"/>
                </div>

                <div>
                    <label class="form-label" for="dni">DNI</label>
                    <input class="form-input" id="dni" type="text" formControlName="dni"/>
                </div>

                <div>
                    <label class="form-label" for="email">Correo</label>
                    <input class="form-input" id="email" type="email" formControlName="email"/>
                </div>

                <div>
                    <label class="form-label" for="password">Contraseña</label>
                    <input class="form-input" id="password" type="password" formControlName="password"/>
                </div>

                <div>
                    <label class="form-label" for="confirm-contrasenya">Confirmar Contraseña</label>
                    <input class="form-input" id="confirm-contrasenya" type="password" formControlName="confirmPassword"/>
                </div>

                <app-button-action class="m-auto" [text]="'Continuar'" (onClick)="showNextForm()"></app-button-action>
            </form>

            <form *ngIf="showFormAtelier" class="form" [formGroup]="atelierForm">
                <div>
                    <label class="form-label" for="atelier">Atelier</label>
                    <input class="form-input" id="atelier" type="text" formControlName="atelier"/>
                </div>

                <div>
                    <label class="form-label" for="description">Descripción</label>
                    <input class="form-input" id="description" type="text" formControlName="description"/>
                </div>

                <div>
                    <label class="form-label" for="ruc">RUC</label>
                    <input class="form-input" id="ruc" type="text" formControlName="ruc"/>
                </div>

                <div>
                    <label class="form-label" for="city">Ciudad</label>
                    <input class="form-input" id="city" type="text" formControlName="city"/>
                </div>

                <div>
                    <label class="form-label" for="district">Distrito</label>
                    <input class="form-input" id="district" type="text" formControlName="district"/>
                </div>

                <div>
                    <label class="form-label" for="address">Dirección</label>
                    <input class="form-input" id="address" type="text" formControlName="address"/>
                </div>

                <div class="form-btn-group">
                    <app-button-action-outline [text]="'Atrás'" (onClick)="showPrevForm()"></app-button-action-outline>
                    <app-button-action [text]="'Registrarse'" (onClick)="signUpUser()"></app-button-action>
                </div>
            </form>
        </div>
    </div>

    <div class="img-container">
        <img class="signup-img" src="assets/images/tailors.svg" alt="tailoring">
    </div>
</div>
