.signup-container {
    height: 100vh;
    @apply flex flex-col gap-y-9 pt-16 md:flex-row md:gap-x-9 bg-blue-300;
}

.form-container {
    border: solid red 1px;
    @apply flex justify-center items-center md:flex-1;
}

.img-container {
    border: solid green 1px;
    @apply flex justify-center md:flex-1 ;
}

.signup-img {
    max-height: 600px;
    @apply self-center;
}

@media screen and (max-width: 768px) {
    .signup-img {
        max-height: 250px;
    }
    
};