.signup-container {
  height: 90vh;
  @apply flex flex-col gap-y-9 mt-16 
    md:flex-row md:gap-x-9;
}

.form-container {
  @apply flex p-6 gap-y-10 flex-col justify-center items-center 
    md:flex-1;
}

.img-container {
  @apply flex justify-center 
    md:flex-1;
}

.form-container-title {
  @apply mt-4;
}

.form-container-inputs {
  @apply w-full p-4 rounded-lg shadow-lg 
    md:w-96;
}

.form {
  @apply flex flex-col gap-y-6;
}

.form-title {
  @apply text-center font-montserrat text-lg font-semibold 
    md:text-2xl;
}

.form-subtitle {
  @apply mt-2 text-center font-montserrat text-xs 
    md:text-sm;
}

.form-subtitle-link {
  @apply font-montserrat font-medium text-skin-orange;
}

.form-label {
  @apply block font-montserrat text-sm font-medium text-skin-brown;
}

.form-input {
  border: solid 1px;
  @apply w-full mt-1 p-2 font-lato text-base border-gray-300 rounded-lg shadow-sm;
}

.form-input:focus {
  outline: none;
  @apply border-2 border-skin-orange;
}

.signup-img {
  max-height: 600px;
  @apply self-center;
}

@media screen and (max-width: 768px) {
  .signup-container {
    height: fit-content;
  }
  .signup-img {
    max-height: 300px;
  }
}
