<h1 class="page-title px-3 py-5 border-b border-gray-400">Detalle del pedido</h1>
<div class="px-3 py-5 border-b border-gray-400 bg-white">
  <h3 class="font-bold">Datos del pedido</h3>
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Código de orden</span>
        <span class="text-lg">ORD00001</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Tipo de evento</span>
        <span class="text-lg">Oficina</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Fecha del pedido</span>
        <span class="text-lg">10/10/2021</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Código de prenda</span>
        <span class="text-lg">PR001</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Tipo de tela</span>
        <span class="text-lg">Franela</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Atendido por</span>
        <span class="text-lg">Anahí Durand</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Nombre de prenda</span>
        <span class="text-lg">Saco Invierno 2021</span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Color seleccionado</span>
        <span class="h-5 w-5 rounded-full mt-1" style="background-color: #343351"></span>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Estado</span>
        <div class="mt-1 w-1/2">
          <app-state-chip [state]="'Attended'"></app-state-chip>
        </div>
      </div>
      <div class="flex flex-col">
        <span class="text-sm text-gray-400">Precio estimado</span>
        <span class="text-lg">S/. 230.00</span>
      </div>
    </div>
    <div class="mt-10 lg:mt-0 w-full bg-gray-400">
      image
    </div>
  </div>
</div>
