<h3 class="font-bold mb-5">Datos del pedido</h3>
<div class="grid grid-cols-1 lg:grid-cols-2" *ngIf="order">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Código de orden</span>
      <span class="text-lg">{{ order.code }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Fecha del pedido</span>
      <span class="text-lg">{{ order.date }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Código de prenda</span>
      <span class="text-lg">{{ order.garmentCode }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Atendido por</span>
      <span class="text-lg" *ngIf="order.attendedBy">{{ order.attendedBy.name }}</span>
      <span class="h-3 bg-gray-300 rounded w-4/5 animate-pulse mt-2" *ngIf="!order.attendedBy"></span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Nombre de prenda</span>
      <span class="text-lg">{{ order.garmentName }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Color seleccionado</span>
      <span class="h-5 w-5 rounded-full border border-gray-300 mt-1"
            [style]="'background-color: #' + order.selectedColor"></span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Estado</span>
      <div class="w-4/5 mt-1">
        <!--<app-state-chip [state]="order.state"></app-state-chip>-->
      </div>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Precio estimado</span>
      <span class="text-lg">{{ order.price }}</span>
    </div>
    <div class="flex flex-col" *ngFor="let feature of order.features">
      <span class="text-sm text-gray-400">{{ feature.type }}</span>
      <span class="text-lg">{{ feature.value }}</span>
    </div>
  </div>
  <div class="mt-10 lg:mt-0 w-full h-64 bg-gray-400">
    image
  </div>
</div>
