<h3 class="font-bold">Datos del pedido</h3>
<div class="grid grid-cols-1 lg:grid-cols-2">
  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Código de orden</span>
      <span class="text-lg">{{ order.code }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Tipo de evento</span>
      <span class="text-lg">{{ order.eventType }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Fecha del pedido</span>
      <span class="text-lg">{{ order.date | date: 'dd/MM/yyyy' }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Código de prenda</span>
      <span class="text-lg">{{ order.garmentCode }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Tipo de tela</span>
      <span class="text-lg">{{ order.fabricType }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Atendido por</span>
      <span class="text-lg">{{ order.attendedBy }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Nombre de prenda</span>
      <span class="text-lg">{{ order.garmentName }}</span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Color seleccionado</span>
      <span class="h-5 w-5 rounded-full mt-1" [style]="'background-color: ' + order.selectedColor"></span>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Estado</span>
      <div class="mt-1 w-1/2">
        <app-state-chip [state]="order.state"></app-state-chip>
      </div>
    </div>
    <div class="flex flex-col">
      <span class="text-sm text-gray-400">Precio estimado</span>
      <span class="text-lg">{{ order.price }}</span>
    </div>
  </div>
  <div class="mt-10 lg:mt-0 w-full bg-gray-400">
    image
  </div>
</div>
