<div class="signin-container">
    <div class="form-container">
        <div class="form-container-title">
            <h2 class="form-title">Recuperar Credenciales</h2>
            <p class="form-subtitle">
                Ingresa tu correo para restablecer tu contraseña
                <!--<a class="form-subtitle-link" (click)="navigateTo('sign-up')">Regístrate</a>-->
            </p>
        </div>
        <div class="form-container-inputs">
            <form class="form" [formGroup]="resetPwdForm" (keydown.enter)="resetPassword()">
                <div>
                    <label class="form-label" for="email">Correo</label>
                    <input class="form-input" id="email" type="text" formControlName="email"
                    [ngClass]="{'is-invalid': isInvalid('email')}"/>
                    <p *ngIf="hasError('email', 'required')" class="invalid-feedback">Debe ingresar su correo electrónico.</p>
                    <p *ngIf="hasError('email', 'email')" class="invalid-feedback">El formato de correo es incorrecto.</p>
                </div>

                <app-button-action class="m-auto" [text]="'Recuperar'" [disabled]="isLoading" (onClick)="resetPassword()">
                </app-button-action>
            </form>
        </div>
    </div>
</div>

<app-snack-bar [(showSnack)]="showAlert" [message]="messageAlert" [type]="typeAlert"></app-snack-bar>
