.topbar {
  @apply fixed top-0 left-0 w-full bg-white shadow-md py-0 px-4 z-10
      md:pl-24 md:pr-8;
}

.topbar-container {
  @apply flex justify-between items-center h-14;
}

.topbar-img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  @apply md:order-1;
}

.topbar-logo {
  @apply text-skin-brown font-light font-montserrat hidden
      md:block; //hidden;
}

.topbar-icon,
.topbar-toogle {
  @apply text-skin-brown;
}

.topbar-toogle {
  @apply cursor-pointer text-xl w-5 text-center md:hidden;
}
