<div class="basic-container">
    <app-tittle-page [tittle]="'Detalles de la Prenda'"></app-tittle-page>

    <div class="basic-card flex-container-col">

        <div *ngIf="garmentDetail">
            <div class="flex-title">
                <div class="flex flex-row gap-x-3">
                    <p class="font-semibold"> Datos de la prenda</p>
                    <app-tooltip-icon *ngIf="!showedit" [icon]="'fas fa-edit'" [description]="'Editar'" (onClick)="showEditMode()"></app-tooltip-icon>
                    <app-tooltip-icon *ngIf="showedit" [icon]="'fas fa-save'" [description]="'Guardar'" (onClick)="buildGarmentData()" [disabled]="isSaving"></app-tooltip-icon>
                    <app-tooltip-icon *ngIf="showedit" [icon]="'fas fa-times'" [description]="'Cancelar'" (onClick)="hideEditMode()" [disabled]="isSaving"></app-tooltip-icon>
                </div>

                <div class="flex gap-x-2 justify-center">
                    <app-button-primary-outlined [text]="'Atrás'" [icon]="'fas fa-arrow-left'" (onClick)="navigateToBack()">
                    </app-button-primary-outlined>
                </div>
            </div>

            <div class="flex-container-row">
                <div *ngIf="!showedit" class="flex-responsive-1 flex-1">
                    <div  class="flex-container-col">
                        <div>
                            <p class="detail-label">Código de prenda</p>
                            <p class="overflow-ellipsis">{{garmentDetail.codeGarment}}</p>
                        </div>

                        <div>
                            <p class="detail-label">Nombre de prenda</p>
                            <!--<p class="overflow-ellipsis">{{garmentDetail.nameGarment}}</p>-->
                            <p>{{garmentDetail.nameGarment}}</p>
                        </div>

                        <div>
                            <p class="detail-label">Costo</p>
                            <div class="flex gap-x-8">
                                <div>
                                    <p class="detail-label">Rango inicial</p>
                                    <p>{{garmentDetail.firstRangePrice | currency:'PEN':'S/ ':'.2-2'}}</p>
                                </div>

                                <div>
                                    <p class="detail-label">Rango final</p>
                                    <p>{{garmentDetail.secondRangePrice | currency:'PEN':'S/ ':'.2-2'}}</p>
                                </div>
                            </div>
                        </div>

                        <div>
                            <p class="detail-label">Descripción</p>
                            <p class="wrap-text">{{garmentDetail.description || '-'}}</p>
                        </div>
                    </div>

                    <div class="flex-container-col">
                        <div>
                            <p class="detail-label">Categoría</p>
                            <p>{{garmentDetail.category}}</p>
                        </div>

                        <div>
                            <p class="detail-label">Telas</p>
                            <ng-container *ngFor="let fbc of garmentDetail.fabrics; let i = index">
                                <span>{{fbc}}</span>
                                <span *ngIf="i != (garmentDetail.fabrics.length - 1)">, </span>
                            </ng-container>
                        </div>

                        <div>
                            <p class="detail-label">Ocasión / eventos</p>
                            <ng-container *ngFor="let ocs of garmentDetail.occasions; let j = index">
                                <span>{{ocs}}</span>
                                <span *ngIf="j != (garmentDetail.occasions.length - 1)">, </span>
                            </ng-container>
                        </div>


                        <div>
                            <p class="detail-label">Colores</p>
                            <div class="flex gap-x-2">
                                <ng-container *ngFor="let color of garmentDetail.colors; let k = index">
                                    <div class="circle-color-garment cursor-wait" [style]="colorGarment(color)"></div>
                                </ng-container>
                            </div>
                        </div>

                        <div>
                            <p class="detail-label">Disponibilidad</p>
                            <div class="flex gap-x-2 items-center">
                                <div class="circle-availability-garment" [style]="colorAvailable(garmentDetail.available)"></div>
                                {{garmentDetail.available ? 'Disponible' : 'No disponible'}}
                            </div>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="showedit">
                    <form [formGroup]="garmentDataForm">
                        <div class="flex-responsive-1 flex-1">
                            <div  class="flex-container-col">
                                <div>
                                    <label class="form-label" for="codeGarment">Código de prenda</label>
                                    <input class="form-input" id="codeGarment" type="text" formControlName="codeGarment" maxlength="100" readonly
                                    [ngClass]="{'is-invalid': isInvalid('codeGarment')}"/>
                                    <p *ngIf="hasError('codeGarment', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="nameGarment">Prenda</label>
                                    <input class="form-input" id="nameGarment" type="text" formControlName="nameGarment" maxlength="100"
                                    [ngClass]="{'is-invalid': isInvalid('nameGarment')}"/>
                                    <p *ngIf="hasError('nameGarment', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                    <p *ngIf="hasError('nameGarment', 'maxlength')" class="invalid-feedback">El nombre de la prenda no debe superar los 100 caracteres.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="">Costo</label>
                                    <div class="flex gap-x-8">
                                        <div class="flex-1">
                                            <label class="form-label" for="firstRangePrice">Rango inicial</label>
                                            <div class="input-currency">
                                                <input class="form-input" id="firstRangePrice" type="number" formControlName="firstRangePrice"
                                                placeholder="0.00" [ngClass]="{'is-invalid': isInvalid('firstRangePrice')}"
                                                />
                                                <i>S/</i>
                                            </div>
                                            <p *ngIf="hasError('firstRangePrice', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                            <p *ngIf="hasError('firstRangePrice', 'pattern') || hasError('firstRangePrice', 'invalidAmount')" class="invalid-feedback">Costo inválido.</p>
                                       </div>
          
                                        <div class="flex-1">
                                            <label class="form-label" for="secondRangePrice">Rango final</label>
                                            <div class="input-currency">
                                                <input class="form-input" id="secondRangePrice" type="number" formControlName="secondRangePrice"
                                                placeholder="0.00" [ngClass]="{'is-invalid': isInvalid('secondRangePrice')}"
                                                />
                                                <i>S/</i>
                                            </div>
                                            <p *ngIf="hasError('secondRangePrice', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                            <p *ngIf="hasError('secondRangePrice', 'pattern') || hasError('firstRangePrice', 'invalidAmount')" class="invalid-feedback">Costo inválido.</p>
                                       </div>
                                    </div>
                                </div>
          
                                <div>
                                    <label class="form-label" for="description">Descripción</label>
                                    <textarea class="form-input" id="description" type="text" formControlName="description"
                                    rows="4" maxlength="250" [ngClass]="{'is-invalid': isInvalid('description')}"
                                    >
                                    </textarea>
                                    <p *ngIf="hasError('description', 'maxlength')" class="invalid-feedback">
                                        la descripción de la prenda no debe superar los 250 caracteres.
                                    </p>
                                </div>
                            </div>

                            <div class="flex-container-col">
                                <div>
                                    <label class="form-label" for="">Categoría</label>
                                    <select class="dropdown-input" name="category" id="category" formControlName="category"
                                    [ngClass]="{'is-invalid': isInvalid('category')}">
                                        <option *ngFor="let ctg of categories" [value]="ctg.value" >{{ctg.description}}</option>>
                                    </select>
                                    <p *ngIf="hasError('category', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="">Telas</label>
                                    <input type="hidden" class="hidden" formControlName="fabrics">
                                    <div class="multi-dropdown" #fabricOptions>
                                        <div class="multi-dropdown-input"
                                        [ngClass]="{'border-color-primary': showFabricOpts, 'is-invalid': isInvalid('fabrics')}"
                                        (click)="showFabricOpts = !showFabricOpts" tabindex="0"
                                        >
                                            <div class="selected-items">
                                                <span class="chip-item" *ngFor="let sf of selectedFabrics">
                                                    {{sf.description}}
                                                    <i class="fas fa-times" (click)="removeSelectedItem(sf, EFEATURES.fabric)"></i>
                                                </span>
                                            </div>
                                            <i class="fas fa-angle-down chevron-icon" [ngClass]="{'rotate-up': this.showFabricOpts}"></i>
                                        </div>
                                        <div class="multi-dropdown-options" *ngIf="showFabricOpts">
                                            <p *ngFor="let fbc of fabrics" (click)="selectItem(fbc, EFEATURES.fabric)">{{fbc.description}}</p>
                                        </div>
                                    </div>
                                    <p *ngIf="hasError('fabrics', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="">Ocasión/Eventos</label>
                                    <input type="hidden" class="hidden" formControlName="occasions">
                                    <div class="multi-dropdown" #occasionOptions>
                                        <div class="multi-dropdown-input"
                                        [ngClass]="{'border-color-primary': showOccasionOpts, 'is-invalid': isInvalid('occasions')}"
                                        (click)="showOccasionOpts = !showOccasionOpts" tabindex="1"
                                        >
                                            <div class="selected-items">
                                                <span class="chip-item" *ngFor="let so of selectedOccasions">
                                                    {{so.description}}
                                                    <i class="fas fa-times" (click)="removeSelectedItem(so, EFEATURES.occasion)"></i>
                                                </span>
                                            </div>
                                            <i class="fas fa-angle-down chevron-icon" [ngClass]="{'rotate-up': this.showOccasionOpts}"></i>
                                        </div>
                                        <div class="multi-dropdown-options" *ngIf="showOccasionOpts">
                                            <p *ngFor="let ocs of occasions" (click)="selectItem(ocs, EFEATURES.occasion)">{{ocs.description}}</p>
                                        </div>
                                    </div>
                                    <p *ngIf="hasError('occasions', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="">Colores</label>
                                    <input type="hidden" class="hidden" formControlName="colors">
                                    <input class="form-input" id="" type="color" (change)="changeColor($event)"
                                    [ngClass]="{'is-invalid': isInvalid('colors')}"
                                    />
                                    <div class="selected-items mt-2">
                                        <div class="circle-color-garment mr-1" *ngFor="let sc of selectedColors" [style]="getItemColor(sc)" (click)="removeSelectedColor(sc)">
                                            <div class="tooltip-remove">remover</div>
                                        </div>
                                    </div>
                                    <p *ngIf="hasError('colors', 'required')" class="invalid-feedback">Este campo es requerido.</p>
                                </div>
          
                                <div>
                                    <label class="form-label" for="">Disponibilidad</label>
                                    <div class="flex-container-row">
                                        <div>
                                            <input type="radio" formControlName="available" [value]="true">
                                            <label class="label-radio" for="">Disponible</label>
                                        </div>
                                        <div>
                                            <input type="radio" formControlName="available" [value]="false">
                                            <label class="label-radio" for="">No disponible</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-container>

                <div class="image-view">
                    <div class="basic-card">
                        <img [src]="selectedImage" alt="" (click)="zoomSelectedImage(selectedImage)">
                    </div>
                </div>
              </div>
        </div>

        <div *ngIf="garmentDetail">
            <!--<p class="font-semibold mb-3">Imágenes y Patrones</p>-->

            <div class="flex flex-row gap-x-3 mb-3">
                <p class="font-semibold">Imágenes y Patrones</p>
                <app-tooltip-icon *ngIf="!editModeImages" [icon]="'fas fa-edit'" [description]="'Editar'" (onClick)="showEditModeImages()"></app-tooltip-icon>
                <app-tooltip-icon *ngIf="editModeImages" [icon]="'fas fa-save'" [description]="'Guardar'" (onClick)="updateGarmentImagesAndPatterns()" [disabled]="isSaving"></app-tooltip-icon>
                <app-tooltip-icon *ngIf="editModeImages" [icon]="'fas fa-times'" [description]="'Cancelar'" (onClick)="hideEditModeImages()" [disabled]="isSaving"></app-tooltip-icon>
            </div>

            <div class="flex-container-col">
                <div>
                    <p class="detail-label mb-3">Imágenes de catálogo</p>
                                        
                    <div *ngIf="!editModeImages" class="flex-container-preview-imgs" >
                        <ng-container *ngIf="garmentDetail.images.length > 0; else noimages">
                            <div class="preview-img" *ngFor="let img of garmentDetail.images"
                            [ngClass]="{'border-selected-img': borderImagePreview(img.value)}"
                            >
                                <img [src]="img.value" (click)="selectImageToView(img.value)">
                            </div>
                        </ng-container>
                        <ng-template #noimages>
                            <p class="no-images-text">No posee imágenes de catálogo añadidos</p>
                        </ng-template>
                    </div>

                    <ng-container *ngIf="editModeImages">
                        <input class="hidden" type="file" accept="image/*" #inputImgHidden
                        (change)="fileSelected($event, EFEATURES.images)" multiple/>

                        <p *ngIf="uploadImageFiles.length == 0" class="invalid-feedback mb-2">
                            Agregar al menos 1 imágen de la prenda.
                        </p>

                        <app-button-primary-outlined [text]="'Agregar'" [icon]="'fas fa-camera'" (onClick)="inputImgHidden.click()">
                        </app-button-primary-outlined>
                        <div class="flex-container-preview-imgs mt-4">
                            <div *ngFor="let img of uploadImageFiles; let i = index" class="preview-img">
                                <img [src]="img.image" (click)="zoomSelectedImage(img.image)"/>
                                <i class="fas fa-times delete-icon" (click)="removeImage(i, EFEATURES.images)"></i>
                            </div>
                        </div>
                    </ng-container>

                </div>

                <!--<div>
                    <p class="detail-label mb-3">Patrónes de confección</p>
                    <div *ngIf="!editModeImages" class="flex-container-preview-imgs">
                        <ng-container *ngIf="garmentDetail.patterns.length > 0; else nopatterns">
                            <div class="preview-img"*ngFor="let pttrn of garmentDetail.patterns"
                            [ngClass]="{'border-selected-img': borderImagePreview(pttrn.imagePattern)}"
                            >
                                <img [src]="pttrn.imagePattern" (click)="selectImageToView(pttrn.imagePattern)">
                            </div>
                        </ng-container>
                        <ng-template #nopatterns>
                            <p class="no-images-text">No posee patrones de confección añadidos</p>
                        </ng-template>
                    </div>

                    <ng-container *ngIf="editModeImages">
                        <input class="hidden" type="file" accept="image/*" #inputPttrnHidden formControlName="patterns" 
                        (change)="fileSelected($event, EFEATURES.patterns)" multiple/>
                        <p *ngIf="uploadPatterns.length == 0" class="invalid-feedback mb-2">
                            Agregar al menos 1 patrón de la prenda.
                        </p>
                        <app-button-primary-outlined [text]="'Agregar'" [icon]="'fas fa-camera'" (onClick)="inputPttrnHidden.click()">
                        </app-button-primary-outlined>  
                        <div class="flex-container-preview-imgs mt-2">
                            <div *ngFor="let ptrn of uploadPatterns; let j = index" class="preview-img">
                                <img [src]="ptrn" (click)="zoomSelectedImage(ptrn)"/>
                                <i class="fas fa-times delete-icon" (click)="removeImage(j, EFEATURES.patterns)"></i>
                            </div>
                        </div>
                    </ng-container>
                </div>-->
            </div>
        </div>
    </div>

    <div class="zoom-img" [ngClass]="{'show-zoom': showZoomImage}" (click)="closeZoom()">
        <img [src]="selectedImageToZoom" alt="">
    </div>
</div>

<app-snack-bar [message]="messageAlert" [type]="typeAlert" [(showSnack)]="showAlert">
</app-snack-bar>

