<div class="basic-container" [ngClass]="firstLoad ? 'min-h-0' : 'min-h-95'">
    <app-tittle-page [tittle]="'Catálogo de Prendas'"></app-tittle-page>

    <div class="query-container">
        <div class="search-container">
            <i class="fas fa-search search-icon"></i>
            <input class="search-input" type="text" placeholder="Buscar por código o nombre de la prenda" 
                #inputSearchBy [(ngModel)]="searchBy" name="searchBy" [disabled]="firstLoad"/>
        </div>
        <div class="filter-container" #containerFilterCategory>
            <button class="filter-btn" (click)="handleFilterOptions()" [disabled]="firstLoad">
                <!--<span class="font-semibold">{{optionSelected.description}}</span>-->
                <span>
                    <i class="fas fa-filter"></i>
                    Filtros
                </span>
                <i class="fas fa-chevron-down" [ngClass]="showOptions ? 'rotate-up' : 'rotate-down'"></i>
            </button>
            <div *ngIf="showOptions" class="filter-options" [ngClass]="showOptions ? 'opacity-100' : 'opacity-0'">
                <!--<a class="status-option" *ngFor="let opt of options" (click)="selectFilterStatus(opt)">{{opt.description | titlecase}}</a>-->
                <div>
                    <p class="title-filter">Categorías</p>
                    <div class="group-options">
                        <div *ngFor="let ctg of categories" class="option-checkbox">
                            <input type="checkbox" [name]="ctg.key" [id]="ctg.key" [value]="ctg.value" [(ngModel)]="ctg.checked" />
                            <label style="white-space: nowrap;" [for]="ctg.key">{{ctg.description}}</label>
                        </div>
                    </div>
                </div>
                
                <div>
                    <p class="title-filter">Ocasión/Eventos</p>
                    <div class="group-options">
                        <div *ngFor="let ocs of occasions" class="option-checkbox">
                            <input type="checkbox" [name]="ocs.key" [id]="ocs.key" [value]="ocs.value" [(ngModel)]="ocs.checked" />
                            <label style="white-space: nowrap;" [for]="ocs.key">{{ocs.description}}</label>
                        </div>
                    </div>
                </div>

                <div>
                    <p class="title-filter">Disponibilidad</p>
                    <div class="group-options">
                        <div class="option-checkbox">
                            <input type="checkbox" name="available-t" id="available-t" [value]="true"/>
                            <label style="white-space: nowrap;" for="available-t">Disponible</label>
                        </div>

                        <div class="option-checkbox">
                            <input type="checkbox" name="available-f" id="available-f" [value]="false"/>
                            <label style="white-space: nowrap;" for="available-f">No disponible</label>
                        </div>
                    </div>
                </div>

                <div class="group-btn">
                    <app-button-primary-filled [text]="'Aplica filtros'" (onClick)="applyFilters()"></app-button-primary-filled>
                    <app-button-primary-outlined [text]="'Limpiar filtros'" (onClick)="clearFilters()"></app-button-primary-outlined>
                </div>
            </div>
        </div>
    </div>

    <div class="garments-container" #garmentsCard *ngIf="!firstLoad">
        <ng-container *ngFor="let gmt of garments">
            <app-garment-card [garment]="gmt"></app-garment-card>
        </ng-container>
    </div>

    <div *ngIf="isLoadingMore" class="h-36">
        <app-spinner  [diameter]="'48px'"></app-spinner>
    </div>
</div>

<!-- hacerlo componente -->
<button class="floating-btn" (click)="navigateToCreate()">
    <i class="fas fa-plus"></i>
</button>

<div *ngIf="isLoading && firstLoad"  class="h-96">
    <app-spinner  [diameter]="'48px'"></app-spinner>
</div>

<app-snack-bar [(showSnack)]="showAlert" [message]="messageAlert" [type]="typeAlert"></app-snack-bar>
